.options-list {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(175px * 2 + 1rem);
  margin: 1.5rem auto;
}

.btn {
  display: inline-block;
  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center;
  width: 165px;
  font-size: 15px;
  margin: 5px;
  transition-duration: 0.3s;
  transition-property: background-color, border, color;
  cursor: pointer;
}

.btn-option {
  composes: btn;

  background-color: #ff4f5a;
  color: #ffffff;
}

.btn-option:hover {
  background-color: transparent;
  border-color: #ff4f5a;
  color: #ff4f5a;
}

.btn-reset {
  composes: btn;
  background-color: #ffffff;
  color: #252525;
}

.btn-reset:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
